@{
    ViewBag.Title = "Gain";
}

<div class="gainBackground">
    @*make the picture happen*@
</div>

<div class="infoBox">
    <h1 class="infoBoxHeader">What You Gain</h1>
    <div class="infoBoxContent">
        <p>
            In ten weeks you are transformed during your journey though this process. 
        Your energy and efforts are rewarded by gaining proficiency in:
        </p>
        <ul>
            <li>the use of many software programs</li>
            <li>web development and design</li>
            <li>business methodologies and project management</li>
        </ul>
        <p>
            All of these skill sets are much in demand today in an otherwise weak economy.
        This is a journey and a transformation that other students pay thousands of dollars
        to other programs to experience and that you are offered here for free!
        </p>
    </div>
</div>
