@{
    ViewBag.Title = "Home Page";
}

<div class="landingBackground" >
    <iframe width="560" height="315" src="//www.youtube.com/embed/9lJSn7lSJU0" frameborder="0" allowfullscreen
        ></iframe>
</div>

<div id="whatIs">
    <div>
        <h1 class="float-left" style="width:30%">What is IT in the D?</h1>
        <p class="float-right" style="width:60%; word-wrap:normal;">Lorem ipsum dolor sit amet, consectetur 
            adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
             Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea 
            commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pa
            riatur. Excepteur sint occaecat cupidatat non proident, s
            unt in culpa qui officia deserunt mollit anim id est laborum.s</p>
    </div>
    <div>
        <h1 class="float-left" style="width:30%">What is our mission?</h1>
        <p class="float-right" style="width:60%; word-wrap:hyphenate;">sakjhfkadkhlksduhgldskjfhgsdlkgjhlsdkjfhgsdljhfgjsdasdfaasdasd
            askdjfhgsadkjfhgsakdjhfgakdjhfgksajfgskajfgksajhfgaskjsdhgfvkjdhsgfkjadshgfkadjsfhgka
            sjdhfgadjskhfgkasjhgdfaskjdhfgaskjhgfkadjshgfkadjhgfaksjhdfgsakljfhsadfsadfsas</p>
    </div>
    <div >
        <h1 class="float-left" style="width:30%">What is our goal?</h1>
        <p class="float-right" style="width:60%; word-wrap:break-word;">sakjhfasdkjadshgfkadjsfhgka
            sjdhfgadjskhfgkasjhgdfaskjdhfgaskjhgfkadjshgfkadjhgfaksjhdfgsakljfhsaadss
            asdsadsadsadasdsadasdfksfhgasjkhdfgkadjshgfaskjhfgajskhfgskdjhfgsakjfhgaskdjhgaddfsadfsas</p>
    </div>
</div>