@{
    ViewBag.Title = "IT in the D What";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>
<div class="WhatBackground" style="padding:100px;">
    <h1>IT in the D What</h1>
    <p>
        It in the D 
        aererjigejgoegegoegehoghwoghowhoihsfen
        hfioeotjyoejofsjeiofw
        ergneoryhwoyhobnwgr
        fehigoehywoyhohgoihyiwiyohwoiisjgoiejg
        fgehiorthreoijgsjrogjisdjijreot
    </p>
</div>

</body>
<article>

    <p>
        IT in the D is
    </p>

    <h3 align="center">
        What you Will learn
    </h3>
    <body>
        <p>
            Your choice of:
        </p>
        <ul>
            <li>Technical skills</li>
            <li>Web Development: Visual Studio, SQL, ASP.NET MVC, and GitHub</li>
        </ul>
        <p>
            Business Analysis
        </p>
        <ul>
            <li>Includes analytics</li>
        </ul>
        <p>
            Program Management
        </p>
        <ul>
            <li>Includes Agile development and Social Strategy</li>
        </ul>
        <p>
            And all gain experience in:
        </p>
        <ul>
            <li>Soft skills</li>
        </ul>
        <p>
            Include responding effectively to what the task entails, teamwork and presentation of work
        </p>
    </body>
</article>

<aside>
    <h3>Aside Title</h3>
    <p>
        Use this area to provide additional information.
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Who", "Who", "Home")</li>
    </ul>
</aside>
