@{
    ViewBag.Title = "IT in the D What";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

    <h1>IT in the D What</h1>
    <p>
        It in the D 
        aererjigejgoegegoegehoghwoghowhoihsfen
        hfioeotjyoejofsjeiofw
        ergneoryhwoyhobnwgr
        fehigoehywoyhohgoihyiwiyohwoiisjgoiejg
        fgehiorthreoijgsjrogjisdjijreot
    </p>




    <p>
        IT in the D is <img src="~/Content/Images/10Weeks.png" /><img src="~/Content/Images/PerfectFor.png" /><a href="http://maps.google.com/?q=Compuware World Headquarters, Detroit, MI"><img src="~/Content/Images/GoogleMap.png" /></a>
    </p>
<article>
    <h3 align="center">
        What you Will learn
    </h3>
    <body>
        <p>
            Your choice of:
        </p>
        <ul>
            <li>Technical skills</li>
            <li>Web Development: Visual Studio, SQL, ASP.NET MVC, and GitHub</li>
        </ul>
        <p>
            Business Analysis
        </p>
        <ul>
            <li>Includes analytics</li>
        </ul>
        <p>
            Program Management
        </p>
        <ul>
            <li>Includes Agile development and Social Strategy</li>
        </ul>
        <p>
            And all gain experience in:
        </p>
        <ul>
            <li>Soft skills</li>
        </ul>
        <p>
            Include responding effectively to what the task entails, teamwork and presentation of work
        </p>
    </body>
</article>


