@{
    ViewBag.Title = "IT in the D Who";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>
<A HREF="#Sponsors">Sponsors</A>
<A HREF="#Academics">Academic Institutions</A>
<A HREF="#Mentors">Mentors</A>
<A HREF="#Alumni">Alumni</A>
<img src="~/Content/Images/Compuware.jpg" />
<A NAME="Sponsors"></A>
<div class="howItWorks">
<h2 style="color:White">Sponsors</h2>

<a href="http://www.quickenloans.com/"><img src="~/Content/Images/QuickenLoans.JPG" / height="25%" width="25%"></a>
<a href="http://www.fathead.com/"><img src="~/Content/Images/fathead.JPG" / height="25%" width="25%"></a>
<a href="http://www.galaxesolutions.com/"><img src="~/Content/Images/GalaxEsolutions.JPG" / height="25%" width="25%"></a>
<a href="http://www.compuware.com/en_us.html"><img src="~/Content/Images/CompuwareLogo.JPG" / height="25%" width="25%"></a>
<a href="http://www.marketingassociates.com/"><img src="~/Content/Images/Marketing Associates.JPG" / height="25%" width="25%"></a>
<a href="http://www.titlesource.com/"><img src="~/Content/Images/TitleSource.JPG" / height="25%" width="25%"></a>

<A NAME="Academics"></A>
<h2 style="color:White">Participating Academic Institutions</h2>

<img src="~/Content/Images/SpaceSaver.png" border="2" /><img src="~/Content/Images/SpaceSaver.png" border="2"/><img src="~/Content/Images/SpaceSaver.png" border="2" /><img src="~/Content/Images/SpaceSaver.png" border="2" /><img src="~/Content/Images/SpaceSaver.png" border="2"/>

<A NAME="Mentors"></A>
<h2 style="color:White">Mentors</h2>

<img src="~/Content/Images/SpaceSaver.png" border="2"/><img src="~/Content/Images/SpaceSaver.png" border="2"/><img src="~/Content/Images/SpaceSaver.png" border="2"/><img src="~/Content/Images/SpaceSaver.png" border="2"/><img src="~/Content/Images/SpaceSaver.png" border="2"/><img src="~/Content/Images/SpaceSaver.png" border="2"/><img src="~/Content/Images/SpaceSaver.png" border="2"/><img src="~/Content/Images/SpaceSaver.png" border="2"/><img src="~/Content/Images/SpaceSaver.png" border="2"/><img src="~/Content/Images/SpaceSaver.png" border="2"/>

<A NAME="Alumni"></A>
<h2 style="color:White">Alumni</h2>

<img src="~/Content/Images/SpaceSaver.png" border="2"/><img src="~/Content/Images/SpaceSaver.png" border="2"/><img src="~/Content/Images/SpaceSaver.png" border="2"/><img src="~/Content/Images/SpaceSaver.png" border="2"/><img src="~/Content/Images/SpaceSaver.png" border="2"/><img src="~/Content/Images/SpaceSaver.png" border="2"/><img src="~/Content/Images/SpaceSaver.png" border="2"/><img src="~/Content/Images/SpaceSaver.png" border="2"/><img src="~/Content/Images/SpaceSaver.png" border="2"/><img src="~/Content/Images/SpaceSaver.png" border="2"/>
    </div>