@{
    ViewBag.Title = "IT in the D Who";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>
<h2>Sponsors</h2>
<a href="http://www.quickenloans.com/"><img src="~/Content/Images/QuickenLoans.JPG" / height="25%" width="25%"></a>
<a href="http://www.fathead.com/"><img src="~/Content/Images/fathead.JPG" / height="25%" width="25%"></a>
<a href="http://www.galaxesolutions.com/"><img src="~/Content/Images/GalaxEsolutions.JPG" / height="25%" width="25%"></a>
<a href="http://www.compuware.com/en_us.html"><img src="~/Content/Images/CompuwareLogo.JPG" / height="25%" width="25%"></a>
<a href="http://www.marketingassociates.com/"><img src="~/Content/Images/Marketing Associates.JPG" / height="25%" width="25%"></a>
<a href="http://www.titlesource.com/"><img src="~/Content/Images/TitleSource.JPG" / height="25%" width="25%"></a>
<h2>Participating Academic Institutions</h2>

<h2>Mentors</h2>


<h2>Alumni</h2>